@import "tailwindcss";

:root {
    --primary-ui-color: #282c34;
    --secondary-ui-color: #414651;

    --primary-text-color: #fff;
    --secondary-text-color: #AAA;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    user-select: none;
}
